In [1]:
# comment out after initial run

# !apt-get install openjdk-8-jdk-headless -qq > /dev/null
# !wget -q https://downloads.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
# !tar -xvf spark-3.1.2-bin-hadoop2.7.tgz
# !pip install -q findspark
# !pip install pyspark
# import os
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [2]:
import pandas as pd 
import numpy as np
import pyspark
from pyspark.sql import SparkSession 
from pyspark.sql.functions import *  
import findspark
findspark.init()

In [3]:
spark = SparkSession.builder \
    .master("local") \
    .appName("JB_APP") \
    .getOrCreate()

In [4]:
spark.getActiveSession()

In [5]:
Parquet_DF = spark.read.parquet("/content/drive/MyDrive/df_pandas.parquet.gzip")

In [6]:
Parquet_DF.show()

+-------------+-------------------+----------+--------+--------------+-----------------+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+---------+---------+------------------+---------+----------+---------+---------+---------+---------+---------+---------+-----------------+----------+
|Ticket_number|         Issue_Date|Issue_time|Meter_Id|RP_State_Plate|Plate_Expiry_Date|Make|Body_Style|Color|            Location|Route|Agency|Violation_code|Violation_Description|Fine_amount| Latitude|Longitude|Distance_to_pointA|address_0| address_1|address_2|address_3|address_4|address_5|address_6|address_7|__index_level_0__|Issue_year|
+-------------+-------------------+----------+--------+--------------+-----------------+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+---------+---------+------------------+---------+----------+---------+---------+---------+---------+---------+---------+-----------------+----------+
|   4274301964|2016-01-04 00:00:00|    1205.0|    null|            TX|             null|OTHR|        TR|   WT|      2650 12TH ST E|  6T8|  56.0|        80.69B|           NO PARKING|       73.0|6494776.0|1830622.8|61491.492380979034|     2650|      12TH|       ST|        E|     null|     null|     null|     null|             1958|      2016|
|   1112130563|2016-01-10 00:00:00|    2042.0|    null|            CA|         201607.0|HOND|        PA|   BK|       380 WORLD WAY|3C218|   2.0|             0|               17104h|       59.0|6439920.1|1802686.7| 76.90318589016472|      380|     WORLD|      WAY|     null|     null|     null|     null|     null|            11720|      2016|
|   1112130751|2016-01-09 00:00:00|    1445.0|    null|            CA|         201603.0|null|        PA|   WH|       380 WORLD WAY|2C192|   2.0|             7|               22500B|       68.0|6439920.1|1802686.7| 76.90318589016472|      380|     WORLD|      WAY|     null|     null|     null|     null|     null|            11976|      2016|
|   4270451813|2016-01-01 00:00:00|     939.0|    null|            CA|         201601.0|VOLK|        PA|   BK|     6837 TROOST AVE|350R1|  53.0|       80.73.2|      EXCEED 72HRS-ST|       68.0|6444797.3|1893590.6| 91031.25387058016|     6837|    TROOST|      AVE|     null|     null|     null|     null|     null|            15754|      2016|
|   4271111983|2016-01-01 00:00:00|    1855.0|    null|            CA|         201607.0|LEXS|        PA|   BK|  7811 FIGUEROA ST S|  500|  55.0|        22500E|    BLOCKING DRIVEWAY|       68.0|6475951.9|1811121.5| 36931.18593086372|     7811|  FIGUEROA|       ST|        S|     null|     null|     null|     null|            15760|      2016|
|   4271111994|2016-01-01 00:00:00|    1909.0|    null|            CA|         201607.0|LEXS|        PA|   BK|  7811 FIGUEROA ST S|  500|  55.0|         80.61|     STANDNG IN ALLEY|       68.0|6475951.9|1811121.5| 36931.18593086372|     7811|  FIGUEROA|       ST|        S|     null|     null|     null|     null|            15761|      2016|
|   4271112005|2016-01-01 00:00:00|    1922.0|    null|            CA|         201510.0|TOYT|        PA|   TN|      1309 53RD ST W|  500|  55.0|        5204A-|      DISPLAY OF TABS|       25.0|6471271.4|1820382.7| 35934.12425884373|     1309|      53RD|       ST|        W|     null|     null|     null|     null|            15762|      2016|
|   4271605332|2016-01-01 00:00:00|    2052.0|    null|            CA|             null|MASE|        PA|   RD|      1313 51ST PL W|  500|  55.0|      80.56E4+|             RED ZONE|       93.0|6471248.1|1821050.3| 36247.46564520033|     1313|      51ST|       PL|        W|     null|     null|     null|     null|            15767|      2016|
|   4272547985|2016-01-01 00:00:00|    1625.0|    null|            CA|         201511.0|HOND|        PA|   MR|     400 HAUSER BLVD|  401|  54.0|        5204A-|      DISPLAY OF TABS|       25.0|6455679.0|1846844.8| 46860.69505929254|      400|    HAUSER|     BLVD|     null|     null|     null|     null|     null|            15770|      2016|
|   4272547996|2016-01-01 00:00:00|    1644.0|    null|            CA|         201510.0|NISS|        PA|   GY|    170 GARDNER ST S|  401|  54.0|        5204A-|      DISPLAY OF TABS|       25.0|6454703.8|1848503.9| 48120.36914498876|      170|   GARDNER|       ST|        S|     null|     null|     null|     null|            15771|      2016|
|   4272548000|2016-01-01 00:00:00|    1654.0|    null|            CA|         201509.0|HYUN|        PA|   SL|  7600 OAKWOOD AVE W|  401|  54.0|        5204A-|      DISPLAY OF TABS|       25.0|6454077.1|1851038.8|50361.120756492244|     7600|   OAKWOOD|      AVE|        W|     null|     null|     null|     null|            15772|      2016|
|   4272679003|2016-01-01 00:00:00|    1929.0|    null|            CA|         201610.0|DODG|        PA|   MR|1121 NORMANDIE AVE N|  400|  54.0|        22500E|    BLOCKING DRIVEWAY|       68.0|6470689.1|1855731.7| 61285.00053765172|     1121| NORMANDIE|      AVE|        N|     null|     null|     null|     null|            15773|      2016|
|   4272679025|2016-01-01 00:00:00|    2027.0|    null|            CA|         201605.0|TOYT|        PA|   GY|1922 VISTA DEL MA...|  400|  54.0|        22500E|    BLOCKING DRIVEWAY|       68.0|6463590.5|1860994.5| 62900.98897871161|     1922|     VISTA|      DEL|      MAR|      AVE|     null|     null|     null|            15775|      2016|
|   4272679036|2016-01-01 00:00:00|    2103.0|    null|            CA|         201611.0|VOLK|        PA|   BL|1837 ALEXANDRIA A...|  400|  54.0|        22500H|       DOUBLE PARKING|       68.0|6471345.3|1860456.6| 65727.90988043054|     1837|ALEXANDRIA|      AVE|        N|     null|     null|     null|     null|            15776|      2016|
|   4272757974|2016-01-01 00:00:00|     903.0|     192|            MI|         201609.0| SAA|        PA|   BL|     3395 DERONDA DR|  473|  54.0|        80.58L| PREFERENTIAL PARKING|       68.0|6465041.2|1869878.6| 71708.14074008628|     3395|   DERONDA|       DR|     null|     null|     null|     null|     null|            15777|      2016|
|   4272757985|2016-01-01 00:00:00|    1031.0|     184|            CA|         201605.0|TOYT|        PA|   GY| 3100 BEACHWOOD DR N|  473|  54.0|        80.58L| PREFERENTIAL PARKING|       68.0|6465492.9|1868482.3| 70563.40418729828|     3100| BEACHWOOD|       DR|        N|     null|     null|     null|     null|            15778|      2016|
|   4272811185|2016-01-01 00:00:00|    1810.0|    null|            CA|             null|BUIC|        PA|   GO|      624 BROADWAY S|  601|  56.0|      8.06E+02|           WHITE ZONE|       58.0|6485218.7|1839326.4| 58202.41458092619|      624|  BROADWAY|        S|     null|     null|     null|     null|     null|            15782|      2016|
|   4272811196|2016-01-01 00:00:00|    1812.0|    null|            CA|             null|BUIC|        PA|   GO|      624 BROADWAY S|  601|  56.0|          5200|    DISPLAY OF PLATES|       25.0|6485218.7|1839326.4| 58202.41458092619|      624|  BROADWAY|        S|     null|     null|     null|     null|     null|            15783|      2016|
|   4272811200|2016-01-01 00:00:00|    1828.0|    null|            CA|         201609.0|TOYT|        PA|   WT|460 BURLINGTON AVE S|  601|  56.0|      80.56E4+|             RED ZONE|       93.0|6479768.8|1843971.8| 57326.37575217876|      460|BURLINGTON|      AVE|        S|     null|     null|     null|     null|            15784|      2016|
|   4272811233|2016-01-01 00:00:00|    1856.0|    null|            CA|         201610.0| BMW|        PA|   BK|    342 COLUMBIA AVE|  601|  56.0|        22500H|       DOUBLE PARKING|       68.0|6481400.7|1843753.1| 58316.14764454201|      342|  COLUMBIA|      AVE|     null|     null|     null|     null|     null|            15787|      2016|
+-------------+-------------------+----------+--------+--------------+-----------------+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+---------+---------+------------------+---------+----------+---------+---------+---------+---------+---------+---------+-----------------+----------+
only showing top 20 rows

In [7]:
# print size of the dataframe 

print((Parquet_DF.count(), len(Parquet_DF.columns)))

(748312, 28)

##### 2. Count number distinct values for each column

In [8]:
# first time running this cell doesn't work, but will work after restarting and running all.

for x in Parquet_DF.columns:
  Parquet_DF.select(countDistinct(x)).show()

+-----------------------------+
|count(DISTINCT Ticket_number)|
+-----------------------------+
|                       748312|
+-----------------------------+

+--------------------------+
|count(DISTINCT Issue_Date)|
+--------------------------+
|                       359|
+--------------------------+

+--------------------------+
|count(DISTINCT Issue_time)|
+--------------------------+
|                      1440|
+--------------------------+

+------------------------+
|count(DISTINCT Meter_Id)|
+------------------------+
|                   28660|
+------------------------+

+------------------------------+
|count(DISTINCT RP_State_Plate)|
+------------------------------+
|                            50|
+------------------------------+

+---------------------------------+
|count(DISTINCT Plate_Expiry_Date)|
+---------------------------------+
|                              344|
+---------------------------------+

+--------------------+
|count(DISTINCT Make)|
+--------------------+
|                 257|
+--------------------+

+--------------------------+
|count(DISTINCT Body_Style)|
+--------------------------+
|                        47|
+--------------------------+

+---------------------+
|count(DISTINCT Color)|
+---------------------+
|                   45|
+---------------------+

+------------------------+
|count(DISTINCT Location)|
+------------------------+
|                  199297|
+------------------------+

+---------------------+
|count(DISTINCT Route)|
+---------------------+
|                 1766|
+---------------------+

+----------------------+
|count(DISTINCT Agency)|
+----------------------+
|                    20|
+----------------------+

+------------------------------+
|count(DISTINCT Violation_code)|
+------------------------------+
|                           165|
+------------------------------+

+-------------------------------------+
|count(DISTINCT Violation_Description)|
+-------------------------------------+
|                                  206|
+-------------------------------------+

+---------------------------+
|count(DISTINCT Fine_amount)|
+---------------------------+
|                         32|
+---------------------------+

+------------------------+
|count(DISTINCT Latitude)|
+------------------------+
|                  137035|
+------------------------+

+-------------------------+
|count(DISTINCT Longitude)|
+-------------------------+
|                   141935|
+-------------------------+

+----------------------------------+
|count(DISTINCT Distance_to_pointA)|
+----------------------------------+
|                            164243|
+----------------------------------+

+-------------------------+
|count(DISTINCT address_0)|
+-------------------------+
|                    16183|
+-------------------------+

+-------------------------+
|count(DISTINCT address_1)|
+-------------------------+
|                     3898|
+-------------------------+

+-------------------------+
|count(DISTINCT address_2)|
+-------------------------+
|                     1567|
+-------------------------+

+-------------------------+
|count(DISTINCT address_3)|
+-------------------------+
|                      574|
+-------------------------+

+-------------------------+
|count(DISTINCT address_4)|
+-------------------------+
|                      175|
+-------------------------+

+-------------------------+
|count(DISTINCT address_5)|
+-------------------------+
|                       29|
+-------------------------+

+-------------------------+
|count(DISTINCT address_6)|
+-------------------------+
|                       11|
+-------------------------+

+-------------------------+
|count(DISTINCT address_7)|
+-------------------------+
|                        1|
+-------------------------+

+---------------------------------+
|count(DISTINCT __index_level_0__)|
+---------------------------------+
|                           748312|
+---------------------------------+

+--------------------------+
|count(DISTINCT Issue_year)|
+--------------------------+
|                         7|
+--------------------------+

##### 3. Count number of null in every column. Feel free to change the data types if needed.

In [9]:
# checking data types
Parquet_DF.dtypes

[('Ticket_number', 'string'),
 ('Issue_Date', 'timestamp'),
 ('Issue_time', 'double'),
 ('Meter_Id', 'string'),
 ('RP_State_Plate', 'string'),
 ('Plate_Expiry_Date', 'double'),
 ('Make', 'string'),
 ('Body_Style', 'string'),
 ('Color', 'string'),
 ('Location', 'string'),
 ('Route', 'string'),
 ('Agency', 'double'),
 ('Violation_code', 'string'),
 ('Violation_Description', 'string'),
 ('Fine_amount', 'double'),
 ('Latitude', 'double'),
 ('Longitude', 'double'),
 ('Distance_to_pointA', 'double'),
 ('address_0', 'string'),
 ('address_1', 'string'),
 ('address_2', 'string'),
 ('address_3', 'string'),
 ('address_4', 'string'),
 ('address_5', 'string'),
 ('address_6', 'string'),
 ('address_7', 'string'),
 ('__index_level_0__', 'bigint'),
 ('Issue_year', 'int')]

In [10]:
# convert time stamp to double

from pyspark.sql.types import DoubleType
Parquet_DF = Parquet_DF.withColumn('Issue_Date', col('Issue_Date').cast('Double'))

In [11]:
# show count of null values for each column in df

Parquet_DF.select([count(when(col(c).isNull(), c)).alias(c) for c in Parquet_DF.columns]).show()

+-------------+----------+----------+--------+--------------+-----------------+----+----------+-----+--------+-----+------+--------------+---------------------+-----------+--------+---------+------------------+---------+---------+---------+---------+---------+---------+---------+---------+-----------------+----------+
|Ticket_number|Issue_Date|Issue_time|Meter_Id|RP_State_Plate|Plate_Expiry_Date|Make|Body_Style|Color|Location|Route|Agency|Violation_code|Violation_Description|Fine_amount|Latitude|Longitude|Distance_to_pointA|address_0|address_1|address_2|address_3|address_4|address_5|address_6|address_7|__index_level_0__|Issue_year|
+-------------+----------+----------+--------+--------------+-----------------+----+----------+-----+--------+-----+------+--------------+---------------------+-----------+--------+---------+------------------+---------+---------+---------+---------+---------+---------+---------+---------+-----------------+----------+
|            0|         0|       136|  500421|             0|            66385| 506|       448|  233|       0| 3626|     0|             0|                   30|          0|       0|        0|                 0|        0|       25|     2350|   398193|   710647|   744737|   748198|   748311|                0|         0|
+-------------+----------+----------+--------+--------------+-----------------+----+----------+-----+--------+-----+------+--------------+---------------------+-----------+--------+---------+------------------+---------+---------+---------+---------+---------+---------+---------+---------+-----------------+----------+

In [12]:
# check df shape

print((Parquet_DF.count(), len(Parquet_DF.columns)))

(748312, 28)

##### 4. Write a function to drop columns with more than 1% missing values

In [13]:
percent = 0.01
def drop_null_columns(df, percent):
  null_counts = df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).collect()[0].asDict()
  dropped_columns = [k for k, v in null_counts.items() if v > percent]
  df = df.drop(*dropped_columns)
  return df, dropped_columns

Parquet_DF, dropped_columns = drop_null_columns(Parquet_DF, percent)

In [14]:
dropped_columns

['Issue_time',
 'Meter_Id',
 'Plate_Expiry_Date',
 'Make',
 'Body_Style',
 'Color',
 'Route',
 'Violation_Description',
 'address_1',
 'address_2',
 'address_3',
 'address_4',
 'address_5',
 'address_6',
 'address_7']

In [15]:
# check df shape
print((Parquet_DF.count(), len(Parquet_DF.columns)))

(748312, 13)

##### 5. Impute missing values for "Fine_amount" column with "median" using "Imputer" package from Pyspark

In [16]:
# Check missing values in fine_amount column

Parquet_DF.select([count(when(isnan('Fine_amount'),True))]).show()

+-------------------------------------------------+
|count(CASE WHEN isnan(Fine_amount) THEN true END)|
+-------------------------------------------------+
|                                                0|
+-------------------------------------------------+

In [17]:
# no missing values - no need to impute

##### 6.  Drop "rows" with at least two null values

In [18]:
# drop rows with at least 2 NA values 
Parquet_DF = Parquet_DF.na.drop(thresh=2)

In [19]:
# no change in df shape(?)
print((Parquet_DF.count(), len(Parquet_DF.columns)))

(748312, 13)

##### 7. Extract day and month from Issue_Date column and then drop the "Issue_Date", and "__index_level_0__" column (if exist)

In [20]:
# Check issue_date column type
dict(Parquet_DF.dtypes)['Issue_Date']

'double'

In [21]:
# Inspect issue_date column
Parquet_DF.select('Issue_Date').show()

+-----------+
| Issue_Date|
+-----------+
|1.4518656E9|
| 1.452384E9|
|1.4522976E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
|1.4516064E9|
+-----------+
only showing top 20 rows

In [22]:
# convert to timestamp type column

Parquet_DF = Parquet_DF.withColumn("Issue_Date", col("Issue_Date").cast("timestamp"))

In [23]:
# confirm conversion

dict(Parquet_DF.dtypes)['Issue_Date']

'timestamp'

In [24]:
# Create Month Column
Parquet_DF = Parquet_DF.withColumn('Month',month(Parquet_DF.Issue_Date))

In [25]:
# Create Day Column
Parquet_DF = Parquet_DF.withColumn('Day', dayofmonth(Parquet_DF.Issue_Date))

In [26]:
# check for issue_date and index_level_0 columns
Parquet_DF.columns

['Ticket_number',
 'Issue_Date',
 'RP_State_Plate',
 'Location',
 'Agency',
 'Violation_code',
 'Fine_amount',
 'Latitude',
 'Longitude',
 'Distance_to_pointA',
 'address_0',
 '__index_level_0__',
 'Issue_year',
 'Month',
 'Day']

In [27]:
# Drop Issue Date and Index_level_0 columns

Parquet_DF = Parquet_DF.drop("Issue_Date","__index_level_0__")

In [28]:
# confirm columns have been dropped
Parquet_DF.columns

['Ticket_number',
 'RP_State_Plate',
 'Location',
 'Agency',
 'Violation_code',
 'Fine_amount',
 'Latitude',
 'Longitude',
 'Distance_to_pointA',
 'address_0',
 'Issue_year',
 'Month',
 'Day']

### Read the questions below and Export three reports based on them:

##### 9. First Report:
Create a report table to get the Sum of "Fine_Amouns" for each State Plates ("RP_State_Plate" column) for each selected vehicle make company ("Make" column). 
The selected brands are: 

Make_Cars = ["ACUR", "AUDI", "DODG", "BMW", "BUIC", "CHEV", "CHRY", "NISS"
             ,"FIAT", "FORD", "GMC", "JEEP", "KIA", "VOLV", "TOYT", "SUBA", "MAZD"]

The final report should look like below:

![report_table.PNG](attachment:report_table.PNG)

In [29]:
Make_Cars = ["ACUR", "AUDI", "DODG", "BMW", "BUIC", "CHEV", "CHRY", "NISS"
             ,"FIAT", "FORD", "GMC", "JEEP", "KIA", "VOLV", "TOYT", "SUBA", "MAZD"]

In [30]:
# create new dataframe for report 

report1_df = spark.read.parquet("/content/drive/MyDrive/df_pandas.parquet.gzip")

In [31]:
#groupby state plates and pivot on the make of the car

report1_df = report1_df.groupBy('RP_State_Plate').pivot('Make', Make_Cars).sum('Fine_amount')

In [32]:
report1_df.show()

+--------------+--------+--------+------------------+---------+---------+------------------+--------+----------+--------+------------------+-----------------+---------+---------+------------------+----------+--------+--------+
|RP_State_Plate|    ACUR|    AUDI|              DODG|      BMW|     BUIC|              CHEV|    CHRY|      NISS|    FIAT|              FORD|              GMC|     JEEP|      KIA|              VOLV|      TOYT|    SUBA|    MAZD|
+--------------+--------+--------+------------------+---------+---------+------------------+--------+----------+--------+------------------+-----------------+---------+---------+------------------+----------+--------+--------+
|            AZ|  2861.0|  6198.0|           19550.0|  11594.0|   2927.0|           34152.0| 11771.0|   45855.0|  2155.0|          81257.68|         43955.67|  16560.0|  15309.0|           13916.0|   52397.0|  4341.0|  7235.0|
|            SC|   370.0|    63.0|             632.0|   1629.0|    257.0|            1506.0|    68.0|    1465.0|   126.0|            1136.0|            146.0|    466.0|    763.0|             194.0|    4001.0|   209.0|   471.0|
|            LA|  1267.0|   277.0|            1742.0|   1702.0|    186.0|            3806.0|   854.0|    2759.0|    63.0|            3222.0|            682.0|   1483.0|    360.0|             765.0|    4011.0|   375.0|  1057.0|
|            MN|   680.0|   841.0|            2432.0|   1556.0|   1279.0|            4636.0|  2276.0|    1608.0|    null|            6263.0|            272.0|   1594.0|    695.0|             755.0|    6587.0|   962.0|  1730.0|
|            NJ|  1707.0|  2349.0|            1093.0|   4643.0|    471.0|            2603.0|   758.0|    6004.0|   209.0|            5579.0|            229.0|   5002.0|   2379.0|            1606.0|    8331.0|  2235.0|  2623.0|
|            OR|  1639.0|  2419.0|            7357.0|   5628.0|    637.0|            8824.0|  3430.0|    7328.0|   231.0|           19168.0|           1056.0|   5520.0|   4299.0|            3210.0|   17871.0|  6283.0|  4352.0|
|            VA|  1141.0|   949.0|            1677.0|   1939.0|    224.0|            3668.0|  1113.0|    3492.0|   194.0|            4683.0|             73.0|   2024.0|   1430.0|             783.0|    8925.0|   584.0|  2651.0|
|            RI|    null|    68.0|             282.0|    257.0|     63.0|             161.0|   146.0|     526.0|    null|             365.0|             null|    486.0|    214.0|              null|     821.0|   476.0|   297.0|
|            KY|    68.0|   630.0|             388.0|    229.0|     null|            1319.0|   126.0|     700.0|    null|            1287.0|             null|    383.0|    476.0|             136.0|    1924.0|   350.0|   569.0|
|            WY|    null|    null|             627.0|     68.0|     null|             680.0|   179.0|     350.0|    null|            1050.0|            277.0|    267.0|    189.0|             126.0|    1700.0|   393.0|   131.0|
|            NH|   121.0|   456.0|             239.0|     68.0|     73.0|             428.0|   131.0|     785.0|    null|             589.0|             null|    350.0|    184.0|             184.0|     818.0|    73.0|    63.0|
|            MI|  1782.0|  1541.0|            4965.0|   2212.0|   1251.0|           10275.0|  3216.0|     863.0|   282.0|           12307.0|           1551.0|   6834.0|   1609.0|             782.0|    5390.0|   549.0|  1488.0|
|            NV|  1554.0|  2554.0|           17776.0|   8890.0|   1650.0|           31208.0| 11734.0|   36885.0|  2116.0|           37330.0|           2281.0|  12765.0|  14460.0|            1879.0|   43677.0|  2027.0|  4668.0|
|            WI|   569.0|   642.0|            1405.0|   1078.0|    481.0|            4250.0|   803.0|    1973.0|   136.0|            2689.0|            304.0|   1176.0|    808.0|             548.0|    5712.0|   821.0|   766.0|
|            ID|   146.0|   345.0|            2570.0|     73.0|     73.0|            3429.0|   501.0|    1712.0|    63.0|            3835.0|            385.0|   1156.0|    506.0|             179.0|    2626.0|  1141.0|  1040.0|
|            CA|591305.5|966511.0|1340672.3399999999|2236930.0|218058.33|3126615.6799999997|682600.0|3313531.34|189119.0|4117000.6799999997|738209.6699999999|1003609.0|1037449.0|470187.33999999997|8299359.67|434557.0|830672.0|
|            NE|    63.0|    63.0|            1070.0|    136.0|    146.0|            1191.0|  1214.0|      68.0|    null|            2732.0|             68.0|   1647.0|    302.0|              null|     851.0|   239.0|   156.0|
|            CT|  1268.0|  2284.0|             380.0|   1133.0|    302.0|            1722.0|   325.0|    2855.0|    73.0|            2252.0|            365.0|   1855.0|   1027.0|             793.0|    3584.0|  2647.0|  1097.0|
|            MT|    null|   622.0|            1274.0|    267.0|    229.0|            1626.0|   146.0|    1100.0|    null|            2224.0|            751.0|    947.0|    166.0|             523.0|    2695.0|  1664.0|   345.0|
|            NC|   778.0|   282.0|            2660.0|   1597.0|     63.0|            4143.0|   571.0|    2084.0|   136.0|            4870.0|            267.0|   1609.0|   2405.0|            1261.0|    6293.0|   355.0|  2011.0|
+--------------+--------+--------+------------------+---------+---------+------------------+--------+----------+--------+------------------+-----------------+---------+---------+------------------+----------+--------+--------+
only showing top 20 rows

In [33]:
# export the report a CSV with header and "|" deliminer. Name it as Report_Make_State_Fine.

report1_df.coalesce(1).write.option("delimiter","|").option("header",True).csv("/content/drive/MyDrive/Colab Notebooks/JesusBaquiax_DE2/Report_Make_State_Fine")

##### 10. Second Report:
Filter the dataframe where Make = HOND and get a count of total violation descriptions per category in 2016

In [34]:
report2_df = spark.read.parquet("/content/drive/MyDrive/df_pandas.parquet.gzip")

In [35]:
report2_filtered = report2_df.filter( (report2_df.Make  == "HOND") & (report2_df.Issue_year  == 2016))

In [36]:
(report2_filtered.groupby('Violation_Description').count()
        .orderBy('count', ascending=False).show())

+---------------------+-----+
|Violation_Description|count|
+---------------------+-----+
| NO PARK/STREET CLEAN|19875|
|           METER EXP.|15332|
| PREFERENTIAL PARKING| 5511|
|      DISPLAY OF TABS| 3480|
|             RED ZONE| 3415|
| PARKED OVER TIME LIM| 3373|
|           NO PARKING| 3259|
|           WHITE ZONE| 2258|
|     NO STOP/STANDING| 1445|
|    DISPLAY OF PLATES| 1302|
|    BLOCKING DRIVEWAY|  842|
|  STOP/STAND PROHIBIT|  830|
|     STANDNG IN ALLEY|  827|
|        NO STOP/STAND|  804|
| NO STOPPING/ANTI-GRI|  772|
|          YELLOW ZONE|  688|
|  OUTSIDE LINES/METER|  638|
|         FIRE HYDRANT|  595|
| OFF STR/OVERTIME/MTR|  492|
|   PARKED ON SIDEWALK|  421|
+---------------------+-----+
only showing top 20 rows

In [37]:
report2_filtered.coalesce(1).write.option("delimiter","|").option("header",True).csv("/content/drive/MyDrive/Colab Notebooks/JesusBaquiax_DE2/Report_HOND_2016")

##### 11. Third Report:
Create a new dataframe from the original dataset, drop everything before 2016 date, and only use the below columns:

keep_columns=['Ticket_number', 'RP_State_Plate', 'Make', 'Body_Style', 'Fine_amount']

In [38]:
report3_df = spark.read.parquet("/content/drive/MyDrive/df_pandas.parquet.gzip")

In [39]:
# filter by Issue_Yea column

report3_filtered = report3_df.filter(report3_df.Issue_year < 2016)

In [40]:
# keep specific columns

report3_filtered = report3_filtered.select(col('Ticket_number'), col('RP_State_PLate'), col('Make'), col('Body_Style'), col('Fine_amount'))

In [41]:
report3_filtered.coalesce(1).write.option("delimiter","|").option("header",True).csv("/content/drive/MyDrive/Colab Notebooks/JesusBaquiax_DE2/Report_Parking_Fines_2016")